%table.table.table-striped
  %thead
    %tr
      %th Player Name
      %th Hands Played
      %th Hands Won
      %th Hands Lost
  %tbody
    - players.each_with_index do |p, i|
      %tr
      %td
        %p
          #{(i+1).ordinalize} - 
          %a(href="/players/#{p.id}")= p.name
      %td
        = p.round_players.count
      %td
        = p.round_players.where("stack_change >= 0").count
      %td
        = p.round_players.where("stack_change < 0").count
