#poker_tables
  - tables.each do |data|
    .poker_table
      %h3 Table #{data[:table_id]}
      %table.players
        - data[:players].each_slice(3).each_with_index do |players, row|
          %tr
          - players.each do |player|
            %td{:class => ("bottom" if row == 0)}
              - if row == 0
                %span.name= player[:name].first(12)
                %span.stack
                  != stack_display(player[:stack], false)
                  = player[:stack]
              - else
                %span.stack
                  != stack_display(player[:stack], false)
                  = player[:stack]
                %span.name= player[:name].first(12)
          - if row == 0
            %tr
              %td.pot_middle{:colspan=>3}
                != stack_display(data[:pot])
                #{data[:pot]}
                in the pot

      .clearfix{:style => "margin-bottom: 10px;"}
      .last_winner
        - data[:latest_winners].each do |winner|
          %span #{winner[:name]} won #{winner[:winnings]}
          .pull-right
            %span 
  .clearfix
