- @player.rounds.each do |r|
  %h2= "Round: #{r.id}"
  %table
    %thead
      %tr
        %th Round
        %th Player
        %th Action
        %th Amount
    %tbody
      - r.initial_state && r.initial_state.simulate!.players.each do |p|
        %tr
          %td{:colspan=>2}= @players[p[:id]] && @players[p[:id]].name
          %td dealt
          %td= p[:hand] && p[:hand].join(" ")
      - r.state && r.state.log && r.state.log.each do |log|
        %tr
          - if log[:round]
            %td{:colspan => 4, :style => "font-size:24px"}= log[:round]  # Aww yeah Pete. Aww yeah. -Robert
          - else
            %td{:colspan => 2}
              - if log[:player_id] && log[:player_id] == @player.id
                %strong
                  =player_name(log[:player_id])
              - else
                =player_name(log[:player_id])
            %td 
              %strong= log[:action]
            %td 
              %strong= log[:amount] || log[:cards] && log[:cards].join(" ")
