.docs
  %h2
    For player: 
    %strong= @player.name
  .content
    %table.table.striped
      %tr
        %th Round ID
        %th Outcome
      - @player.round_players.order(:id).each do |r|
        %tr
          %td
            = link_to "#{r.round_id}", round_path(r.round), :style => "display:block"
          %td
            - if r.stack_change
              = r.stack_change < 0 ? "Lost #{r.stack_change.abs}" : "Won #{r.stack_change}"
            - else
              Didn't finish
