.span4
  %ul.bs-docs-sidenav.nav
    %li.active
      %a{:href => "#rules", :"data-toggle" => "tab"} Rules
    %li
      %a{:href => "#suite", :"data-toggle" => "tab"} Suit Lookup
    %li
      %a{:href => "#request", :"data-toggle" => "tab"} Request and Response
    %li
      %a{:href => "#draw", :"data-toggle" => "tab"} Draw Poker
    %li
      %a{:href => "#actions", :"data-toggle" => "tab"} Player Actions
    %li
      %a{:href => "#tournament", :"data-toggle" => "tab"} Tournament Seating
    %li
      %a{:href => "#ante", :"data-toggle" => "tab"} Ante Progression

.span8
  .tab-content
    #rules.tab-pane.active
      .content= render :partial => "pages/docs/rules"
    #suite.tab-pane
      .content= render :partial => "pages/docs/help"
    #request.tab-pane
      .content= render :partial => "pages/docs/docs"
    #draw.tab-pane
      .content= render :partial => "pages/docs/draw_poker"
    #actions.tab-pane
      .content= render :partial => "pages/docs/player_actions"
    #tournament.tab-pane
      .content= render :partial => "pages/docs/tournament_seating"
    #ante.tab-pane
      .content= render :partial => "pages/docs/ante_progression"
