!!!
%html
  %head
    %title No Limit Code 'Em
    = javascript_include_tag  'application'
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      %a.navbar-brand.navbar-cards{href: '#'}
        = image_tag 'no_limit.png'

      %ul.nav.navbar-nav
        %li.active
          %a{href: '#'} Tables 
        %li
          %a{href: '#about'} Docs 
        %li
          %a{href: '#contact'} Register 
        %li
          %a{href: '#contact'} Tournament Logs 

      .pull-right
        %a.navbar-brand{href: '#'}
          = image_tag 'logo.png'

    .content
      = yield
