!!!
%html
  %head
    %title No Limit Code 'Em
    = javascript_include_tag  'application'
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body{:class => controller_name}
    .navbar.navbar-default
      %a.navbar-brand.navbar-cards{href: '/'}
        = image_tag 'no_limit.png'

      %ul.nav.navbar-nav
        = navbar_link 'Tables', '/'
        = navbar_link 'Scoreboard', '/scoreboard'
        = navbar_link 'Register', '/pages/registration.html'
        = navbar_link 'Docs', '/pages/docs/index.html'
        = navbar_link 'Tournament Logs', '/tournaments'

      .pull-right
        %a.navbar-brand{href: '#'}
          = image_tag 'logo.png'

    .content
      = yield
